body {
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

header section .social-networks ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
}

header section .social-networks ul li a {
    text-decoration: none;
    /* margin-right: 10px; */
}

header {
    width: 100%;
    height: 140px;
}

header nav {
    background-color: bisque;
    display: flex;
    justify-content: space-between;
}