body {
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

header section .social-networks ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
}

header section .social-networks ul li a {
    text-decoration: none;
    margin-right: 8px;
}

header section .social-networks ul {
    margin: 4px 0;
}

header {
    width: 100%;
}

header nav {
    padding: 10px 25px;
    background-color: bisque;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav .logo a {
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: xx-large;
    color: black;
}

header nav .logo a img {
    margin-right: 5px;
}

header nav .profile-link a {
    text-decoration: none;
    color: black;
}

.main-home {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    height: 100%;
    background: url(../assets/img/cover.jpg) center no-repeat;
    background-size: cover;
}

.main-home .section-home {
    display: grid;
    grid-column: 2;
    justify-items: center;
    height: 350px;
    margin-top: 80px;
}

main .section-home p {
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 7px;
    color: white;
    text-align: center;
}

main .section-home a {
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    height: 20px;
    background-color: blanchedalmond;
    padding: 15px;
    border: solid 2px gray;
    cursor: pointer;
    border-radius: 4px;
}

main .section-home a:hover {
    background-color: rgb(255, 230, 194);
    border-color: black;
}